<div id="top" class="row">
  <div id="left" class="small-3 columns">
    <%= link_to 'About', about_path, id: 'a_abo' %>
  </div>
  <div id="center" class="small-6 columns">
    Max Konyshev
  </div>
  <div id="right" class="small-3 columns">
    <u><%= link_to 'Contacts', contacts_path, id: 'a_con' %></u>
  </div>
</div>

<div id="gal" class="row">
  <div class="small-3 small-centered columns">
    <%= link_to 'Gallery', root_path, id: 'a_gal' %>
  </div>
</div>

<div id="hr" class="row">
  <div class="small-12 columns">
    <hr />
  </div>
</div>

<div class="row">
  <div id="nav" class="small-12 columns">

  </div>
</div>

<style>

    #a_gal {
        padding: 8px;
    }

    #a_gal:hover {
        padding: 8px;
        color: #fff;
        background-color: #000;
    }

    #a_con {
        padding: 8px;
    }

    #a_con:hover {
        padding: 8px;
        color: #fff;
        background-color: #000;
    }

    #a_abo {
        padding: 8px;
    }

    #a_abo:hover {
        padding: 8px;
        color: #fff;
        background-color: #000;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
        color: grey;
    }

    .th {
        margin: 10px;
    }

    #hr {
        padding-top: 30px;
        padding-bottom: 30px;
        /* Gradient transparent - color - transparent */
    }

    hr {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }

    #gal {
        font-family: 'i_still_knowregular';
        font-size: 18px;
        text-align: center;
        padding-bottom: 40px;
    }

    #top {
        padding-top: 120px;
        padding-bottom: 40px;
    }

    #left {
        text-align: right;
        font-family: 'i_still_knowregular';
        font-size: 18px;
    }

    #center {
        font-family: 'i_still_knowregular';
        font-size: 48px;
        text-align: center;
    }

    #right {
        text-align: left;
        font-family: 'i_still_knowregular';
        font-size: 18px;
    }
</style>

<div id="hr" class="row">
  <div class="small-12 columns">
    <hr />
  </div>
</div>

<div id="footer" class="row">
  <div class="small-3 small-centered columns">
    <p class="copyright">Max Konyshev 2015</p>
  </div>
</div>

<script>
    $(document).foundation();
    $(document).ready(function() {

        /* This is basic - uses default settings */

        $("a#single_image").fancybox();

        /* Using custom settings */

        $("a#inline").fancybox({
            'hideOnContentClick': true
        });

        /* Apply fancybox to multiple items */

        $("a.group").fancybox({
            'transitionIn'	:	'elastic',
            'transitionOut'	:	'elastic',
            'speedIn'		:	600,
            'speedOut'		:	200,
            'overlayShow'	:	false
        });

    });
</script>
